<!doctype html>
<html>

<title><%= title %></title>
<meta charset="utf-8">
<!--[if lt ie 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<script
    src="javascripts/dist/sea.js"
    data-config="/javascripts/config"
    data-main="/javascripts/main" >
</script>

