 
@import "bootstrap/bootstrap.less";
 

#main{
	width: 1000px;
	margin: 0 auto;

	#header{
		height: 50px;
	}
	#input_block{
		width: 100%;
		margin: 0;
		input{
			width: 100%;
			height: 40px;
			font-size: 1.5em;

		}
	}

}
