*:focus { outline: none; }
body{
    background: url("../images/login/login_bg2.jpg");
    height:100%;
    overflow: hidden;
}
#logo{
    width:173px;
    height: 48px;
    margin: 42px auto;
}
#logo img{
    display: block;
}

#loginwrap{
    width:357px;
    height:429px;
    position: relative;
    margin-left:auto;
    margin-right:auto;

    transform-style:preserve-3d;
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    
}
#login{
    position: absolute;
    top:1000px;
    opacity: .1;
}

#errortip{
    width:290px;
    height:32px;
    margin:15px 0 0 33px;
    background:url(../images/login/buttonlist.png) 0 -94px;
    text-indent:2.5em;
    line-height:32px;
    font-size: 12px;
    color:#f9f9f9;
    font-family: "微软雅黑";
    text-shadow:1px 1px 1px #313131;
    display: none;
}

/*register*/

#register{
    display: none;
    position: absolute;
    top:100px;
    -webkit-transform:perspective(600px) rotateY(-90deg);
}